@media screen and (min-width: 200px) {
  a {
    font-size: var(--ptf-fontsize-xs);
    letter-spacing: 1px;
  }
  h1,
  .aboutme p,
  .projects p,
  #education p,
  .experience p {
    font-size: var(--ptf-fontsize-s);
  }
  h2,
  .experience h3,
  .experience h4 {
    font-size: var(--ptf-fontsize-m);
  }
  .aboutme h3 {
    display: none;
  }
  .aboutme .icono {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  #education p {
    font-size: var(--ptf-fontsize-m);
  }
  .aboutme .icono {
    width: 60%;
  }
  h2 {
    font-size: var(--ptf-fontsize-l);
  }
}

@media screen and (min-width: 992px) {
  a {
    font-size: var(--ptf-fontsize-m);
  }
}

@media screen and (min-width: 1250px) {
  a {
    font-size: var(--ptf-fontsize-l);
  }
  .aboutme h3 {
    display: inline;
    font-size: var(--ptf-fontsize-m);
  }

  h2 {
    font-size: var(--ptf-fontsize-l);
  }
}

@media screen and (min-width: 1450px) {
  a,
  .aboutme h3 {
    display: inline;
    font-size: var(--ptf-fontsize-l);
  }
}
