.education {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  text-align: center;
  gap: 1rem;
  margin: 100px 0px;
}

.education ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 600px;
  padding: 2rem;
}
.education h2 {
  color: var(--ptf-special-color-8);
}
