header {
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1% 5%;
}

header li {
  text-align: center;
}

header li:hover {
  text-align: center;
  transform: scale(110%);
}
